<h1>String Interpolation</h1>
<p>
  {{stringInterpolation}} <br>
  {{numberInterpolation}}
</p>
<h1>Property binding</h1>
<input type="text" value="{{stringInterpolation}}">
<input type="text" [value]="stringInterpolation"><!-- DOM Property binding -->
<p [ngClass]="{redBorder: true}">Directive binding</p>
<p [ngClass]="{redBorder: onTest()}">Directive binding</p>
<p [ngStyle]="{color: 'green'}">Directive binding</p>
<h3>Custom property binding</h3>
<app-property-binding [result]="10">
	
</app-property-binding>
<h3>Event binding</h3>
<app-event-binding (clickable)="onClicked($event)"></app-event-binding>